#devWebHeader{
    background-color: var(--blue);
}

.topicDevWeb {
    cursor: pointer;
    background-color: #c6c6c6;
    border-top: 2px solid #efefef;
    border-left: 2px solid #efefef;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}